.iframe {
  background-color: "red";
  width: 200%;
  height: 580px;
}

@media (min-width: 1920px) {
  .iframe {
    height: 950px;
  }
}

@media (max-width: 1728px) {
  .iframe {
    /* height: 480px;
    width: 100%; */
  }
}

@media (max-width: 768px) {
  .iframe {
    width: 100%;
  }
}
