/* mundial.css */

@font-face {
  font-family: "Mundial";
  src: url("/fonts/MundialRegular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Mundial", sans-serif;
}
